.password-wrapper {
  position: relative;
}

.toggle-password-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #666;
}
.toggle-password-btn:hover {
  color: #000;
}
